.pwi_loader{
	height: 60px;
	width: 200;
	border: 1px solid #7F7F7F;
}

.pwi_container{
	color: #000000;
	background-image: url("/images/Middle-Background.png");
	font-family: Arial;
	font-size: 8pt;
	padding: 20px 5px 10px 5px;
}

.pwi_container a{
	color: #000000;
}

.pwi_album_description{
	text-align: left;
	color: #000000;
	font-family: Arial;
	font-size: 8pt;
	padding: 5px 5px 5px 10px;

}
.pwi_album_description .title{
	color: #000000;
	font-size: 12pt;
	margin-top: 10px;

}
.pwi_album_description .details{
	color: #000000;
	font-size: 8pt;
	font-style: italic;
}
.pwi_album_description .description{
	font-size: 10pt;
	padding: 5px;
}
.pwi_album_description .sslink{

}

.pwi_album{
	float: left;
	text-align: center;
	color: #000000;
	cursor: pointer;
  padding: 15px 27px 15px 27px;
}

.pwi_album_backlink{
	text-decoration: underline;
	cursor: pointer;
  margin: 5px;
  font-size: 10pt;
}

.pwi_album img{
  background: url("/images/shadow-1000x1000.gif") no-repeat right bottom;
  padding: 5px 10px 10px 5px;
}

.pwi_photo{
	float: left;
	margin: 1em;
	text-align: center;
	border: 0px dotted white;
  height: 100px;
}

.pwi_photo img{
	border: 1px ridge #aaaaaa;
}

.pwi_photo a{
	text-decoration: none;	
}

.pwi_pager{
	clear: both;
  font-size: 10pt;
  padding: 5px;
}
.pwi_prevpage, .pwi_nextpage, .pwi_pager_page, .pwi_pager_current{
	float: left;
	margin: 5px;

}

.pwi_prevpage {
  background-image: url("/images/previous-button-previous.png");
  width: 19px;
  height: 14px;
}

.pwi_nextpage {
  background-image: url("/images/previous-button-next.png");
  width: 19px;
  height: 14px;
}

.link{
	text-decoration: underline;
	cursor: pointer;
}

.pwi_pager_current{
	text-decoration: none;
	font-weight: bold;
}
