<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"/>
  <title>Dhakads.com</title>

  <link href="/stylesheets/960grid.css" rel="stylesheet" type="text/css"/>
  <link rel="stylesheet" type="text/css" href="/stylesheets/header_footer.css"/>
  <link rel="stylesheet" type="text/css" href="/stylesheets/feedback.css"/>


<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-23098581-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</head>

<body>
<div id="wrapper" class="container_12">

  <div id="header" class="container_12 clearfix header">
    <div class="grid_3 logo_cont alpha omega">
      <a href="/"><img src="/images/Logo.png" class="logo" alt="Dhakads"></a>
    </div>

    <div class="nav_bar grid_8">
      <a href="/">Events</a>
      <a href="/feedback/new">Report a problem</a>
    </div>
  </div>

  <div id="content" class="clearfix">
    <%= yield %>
  </div>

</div>

<div id="footer" class="container_12 footer">

  <div class="grid_12">
    <div class="grid_8">&nbsp;</div>
    <div class="grid_3 omega creator">
      By <strong>Amit Kanhaiyalal Dhakad </strong>
    </div>
  </div>
</div>


</body>
</html>
